@font-face {
    font-family: 'porcheContent';
    src: url(./fonts/PorscheNext-Regular.otf);
}

@font-face {
    font-family: '911 porche';
    src: url(./fonts/911v2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "porcheContent", sans-serif;
}

/* title of the site */

.head {
    margin: 20px;
}

.head img {
    position: absolute;
    top: 25px;
    left: 100px;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
}

.head p {
    position: relative;
    left: 100px;
    top: -27px;
    width: 60px;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
}

.head img:hover,
.head p:hover {
    background-color: rgb(202, 198, 198);
}

/* slideshow */

.header {
    text-align: center;
    font-family: '911 porche', sans-serif;
}

.arrow-left,
.arrow-right,
.badge {
    cursor: pointer;
}

.badge {
    height: 10px;
    width: 10px;
    padding: 0;
}

.arrow-left {
    float: left;
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
}

.arrow-right {
    float: right;
    font-size: 20px;
    padding: 20px;
    margin-right: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: red;
    color: white;
}

.container {
    display: flex;
    position: relative;
    overflow: hidden;
}

.slide {
    position: relative;
    display: inline-block;
}

.images {
    height: 80vh;
    width: 100vw;
    transition: transform 1s ease;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 40vh;
    font-size: x-large;
    margin: 10px;
}

.arrow-right {
    right: 5px;
}

.img-text {
    position: absolute;
    bottom: 70px;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: 'porcheContent', sans-serif;
}

.img-text p {
    position: relative;
    left: 120px;
}

.img-text:hover {
    color: red;
}

.img-text span {
    color: red;
}

.img-text h1 {
    margin: 0;
    position: relative;
    left: 100px;
}

/* models grid */

.container-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: -1fr;
    grid-gap: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    width: 33vw;

}

.grid img,
.grid a {
    height: 70vh;
    width: 33vw;
}

.model {
    padding: 20px 10px 10px 10px;
    margin-left: 12vh;
    font-weight: bolder;
    font-size: 36px;
}

.carModel {
    font-size: x-large;
    position: relative;
    left: -30vw;
    top: 1vh;
}

.text {
    font-family: sans-serif;
    margin: 10px;
    position: relative;
    left: 100px;
    width: 1000px;
}

.grid .btn {
    position: relative;
    background-color: white;
    left: -45vw;
    top: 40vh;
    border: none;
    padding: 12px 15px 12px 15px;
}

.grid .btn span {
    font-size: 16px;
}

.grid .btn img {
    height: 1.2rem;
    width: 1.2rem;
}

.btn:hover {
    background-color: rgb(211, 20, 20);
    color: white;
    cursor: pointer;
}

.btn1 {
    font-size: 16px;
    border: 1px solid white;
    background-color: transparent;
    position: relative;
    top: 40vh;
    left: -65vw;
    padding: 12px 18px 12px 18px;
    color: white;
}

.btn1:hover {
    cursor: pointer;
    border: 1px solid red;
    color: red;
}

/* car explorer */

.container-3 {
    display: flex;
    margin: 2rem;
    padding-left: 1.5rem;
    overflow-x: scroll;
    position: relative;
    overflow-x: hidden;
}

.carSlide {
    margin-right: 2vw;
}

.carSlide img {
    height: 35vh;
}

.right-arrow {
    position: absolute;
    right: -0.5vw;
    top: 8vh;
    font-size: 20px;
    padding: 20px;
    margin-right: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
    width: 3.5vw;
}

.left-arrow {
    position: absolute;
    left: -1vw;
    top: 8vh;
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
    width: 3.5vw;
}

.left-arrow:hover,
.right-arrow:hover {
    background-color: rgb(211, 20, 20);
    cursor: pointer;
    color: white;
}

.hide {
    display: none;
}

.btn2 {
    color: white;
    background-color: #313639;
    border: none;
    margin: 0px 0px 20px;
    padding: 13px 21px;
    font-size: 16px;
    position: relative;
    left: 8vw;
}

.btn2:hover {
    background-color: rgb(211, 20, 20);
}

/* Shopping tools */

.container-4 {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px;
}

.img1 {
    height: 41.9vh;
    width: 35vw;
    overflow: hidden;
    object-fit: cover;
}

.shopTools a {
    text-decoration: none;
}

.shopText {
    color: white;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    left: 2vw;
    top: -8vh;
    font-size: 20px;
}

.shopText span {
    color: red;
}

.shopText:hover {
    color: red;
}